<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf ="cart$ | async as cart">
    <p>
        you have {{cart.totalItemsCount}} items in your shopping cart
    </p>  
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Product</th>
            <th class="text-center"scope="col" style="width: 300px;">Quantity</th>
            <th class="text-end"scope="col" style="width: 200px;">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart.items">
            <td>
              <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail" ></div> 
            </td>
            <td>{{item.title}}</td>
            <td>
              <product-quantity [product]="item" [shopping-cart]="cart">
              </product-quantity>
            </td>
            <td class="text-end">{{item.totalPrice |  currency:'USD':'symbol'}}</td>
          </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total Price</th>
                <th></th>
                <th></th>
                <th class="text-end">{{cart.totalPrice |   currency:'USD':'symbol'}}</th>
            </tr>
        </tfoot>
      </table>
      <button
      style="width: 200px; background-color: #d72dba;"
       class="btn btn-danger btn-sm"
       (click)="clearCart()"
       >Clear Shopping Cart</button>
</div>
 