<div *ngIf="product.title" class="card" >
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price | currency:'USD':true}}</p>
    </div>
    <div  *ngIf="showActions" class="card-footer d-grid gap-2">
        <button 
        *ngIf ="getQuantity() ===0; else updateQuantity"
        class="btn btn-secondary "
        (click)="addToCart()"
        >
        Add to Cart
    </button>
    <ng-template #updateQuantity>
    <div class="row no-gutters" >
        <div class="col-2 d-grid gap-2">
            <button
             (click)="removeFromCard()"
             class="btn btn-secondary ">-</button>
        </div>
        <div class="col text-center">
            {{getQuantity()}} in cart
        </div>
        <div class="col-2 d-grid gap-2">
            <button (click) ="addToCart()" 
            class="btn btn-secondary btn-block">+</button>
        </div>
    </div>
    </ng-template>
</div> 